.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.appBar {
  background-color: #2196f3 !important;
}

.title {
  flex-grow: 1;
  margin-left: 16px;
}

.main {
  flex-grow: 1;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
