.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.hero {
  text-align: center;
  padding: 24px 10px;
  max-width: 750px;
  width: 100%;
}

.title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
}

.subtitle {
  margin-bottom: 32px;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  min-width: 200px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 8px;
}
